* {
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
input{
  outline: none;
}
section {
  padding: 20px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #000000;
  position: relative;
}
.view-rightsidemenu {
  position: fixed;
  right: 0;
  top: 100px;
  border: 2px solid #9e9b9b;
  color: #9e9b9b;
  padding: 5px;
  border-radius: 20px 2px 2px 2px;
  cursor: pointer;
}
.d-none {
  display: none!important;
}
.d-block{
  display: block!important;
  opacity: 1!important;
}
.page-count {
  display: none;
  position: absolute;
  top: 9px;
  right: 14px;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  color: #d18929;
  @media (max-width: 500px){
    display: block;
  }
}
