.header {
  background: #484283;
  padding-top: 20px;
  &__left {
    grid-column: 2 span;
  }
  &__logo {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #ffffff;
  }
  &__right {
    display: flex;
    justify-content: flex-end;
    grid-column: 10 span;
  }
  .nav {
    &__list {
      display: flex;
      align-self: center;
    }
    &__item {
      margin-right: 40px;
      &:last-child {
        margin-right: 32px;
      }
    }
    &__link {
      font-size: 14px;
      line-height: 14px;
      color: #fff;
    }
  }
  .cart__btn {
    padding: 0;
    position: relative;
    padding-right: 30px;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    cursor: pointer;
    svg {
      position: absolute;
      display: block;
      width: 20px;
      height: 18px;
      top: 0;
      right: 0;
    }
    .cart__count {
      position: absolute;
      display: inline-block;
      width: 16px;
      height: 16px;
      background: #f14f4f;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      color: #fff;
      border-radius: 100%;
      right: -8px;
      bottom: -8px;
    }
  }
}
