@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
body {
  margin: 0;
  overflow: hidden;
}
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100vh;
}
.scene {
  width: 80vw;
  height: 80vh;
  overflow: hidden;
  position: relative;
  overflow: visible;
  background: #f58d8d6c;
}
.gw-part {
  background-color: rgb(255, 255, 255);
  width: 80px;
  height: 80px;
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  transition-timing-function: linear;
  background: #000;
  border-radius: 100%;
}
.start-btn{
  cursor: pointer;
}
.stop-btn{
  cursor: pointer;
}
.food-item{
  width: 20px;
  height: 20px;
  border-radius: 100%;
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  transition-timing-function: ease-in;
  background: #389721;
}
.management-panel{
  position: absolute;
  left: 10px;
  top: 10vh;
}
.gnat-management{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 5px;
  border: 1px solid #3b9940;
}
.food-management{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 5px;
  border: 1px solid #3b9940;
}
.input{
  border: 1px solid #3b9940;
}
.food-btn{
  cursor: pointer;
}
