@import 'global';
@import 'fonts';
@import 'header';
.app{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 50px;
  background-image: url('../img/1.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
}
.boards{
  display: flex;
  width: 100%;
  gap: 15px;
  &__item{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #78325C;
    transition: .3s;
    border-radius: 5px;
    gap: 10px;
    max-width: 270px;
    width: 100%;
    .title{
      padding: 5px;
      &:focus{
        outline: 1px solid #E8A548;
      }
    }
  }
  .list{
    min-height: 40px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    &__item{
      background: #ffffff;
      border-radius: 3px;
      padding: 10px;
      font-size: 14px;
      text-align: center;
      color: #443d43;
      font-weight: 500;
      font-size: 16px;
    }
  }
  .form{
    margin-top: auto;
    border-radius: 3px;
  }
  .textarea{
    resize: none;
    width: 100%;
    border-radius: 3px;
    outline: none;
    padding: 10px;
    height: 60px;
    &::placeholder{
      font-family: 'Roboto';
    }
  }
  .buttons{
    display: flex;
    justify-content: end;
    gap: 10px;
  }
  .add__item-btn{
    background: #394B6A;
    &:hover{
      background: #2c3a52;
    }
  }
  .cancel__item-btn{
    background: #8a0e3d;
    &:hover{
      background: #790e37;
    }
  }
  .add-btn{
    padding: 10px;
    background: #321B35;
    text-align: center;
    &:hover{
      background: #221224;
    }
  }
}
.btn{
  padding: 10px;
  cursor: pointer;
  color: #ffffff;
  border-radius: 3px;
  font-size: 16px;
  transition: .3s;
}
.button{
  background: #772C2E;
  width: 250px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}